<style>
#landslidesImageGallery {
    position: relative;
    text-align: center;
}

#landslidesImageGallery .gallery-controls {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

#landslidesImageGallery button {
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

#landslidesImageGallery button:hover {
    color: rgba(0, 0, 0, 0.8);
}

#landslidesImage {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

#landslidesImageCaption {
    font-style: italic;
    margin-bottom: 20px;
}
</style>

<div id="landslidesImageGallery">
    <div class="gallery-controls">
        <button class="prev-button" id="prevButton">&#8592;</button>
        <button class="next-button" id="nextButton">&#8594;</button>
    </div>
    <img id="landslidesImage" src="/images/research/landslides_3.png" alt="Landslide InSAR Results">
    <div id="landslidesImageCaption">Example InSAR time series from three points in Graham Landslide Complex. Blue bars denotes 3 months with highest precipatation.</div>
</div>

<script>
    const images = [
        { src: "/images/research/landslides_2.png", caption: "InSAR velocity field used to map slow moving landslides. Insert shows example of a single landlside." },
        { src: "/images/research/landslides_3.png", caption: "Example of InSAR time series from three points in the Graham Landslide Complex. Blue bars denotes 3 months with highest precipatation." },
        { src: "/images/research/landslides_1.png", caption: "Time series from three example landslides. Median values for the fastest 5% (purple) and 25% (orange) pixels and cumulative precipatation." }
    ];

    let currentIndex = 0;

    const imageElement = document.getElementById('landslidesImage');
    const captionElement = document.getElementById('landslidesImageCaption');
    const prevButton = document.getElementById('prevButton');
    const nextButton = document.getElementById('nextButton');

    function showImage(index) {
        imageElement.src = images[index].src;
        captionElement.textContent = images[index].caption;
        currentIndex = index;
    }

    function showPreviousImage() {
        let newIndex = currentIndex - 1;
        if (newIndex < 0) {
            newIndex = images.length - 1;
        }
        showImage(newIndex);
    }

    function showNextImage() {
        let newIndex = currentIndex + 1;
        if (newIndex >= images.length) {
            newIndex = 0;
        }
        showImage(newIndex);
    }

    prevButton.addEventListener('click', showPreviousImage);
    nextButton.addEventListener('click', showNextImage);

    // Show initial image
    showImage(0);
</script>
