{% include base_path %}

<div class="sidebar sticky">
  <div class="author__avatar">
    <img src="{{ site.author.avatar | prepend: "/images/" | prepend: base_path }}" alt="{{ site.author.name }}">
  </div>
  <div class="author__content">
    <h3 class="author__name">{{ site.author.name }}</h3>
    <p class="author__bio">{{ site.author.bio }}</p>
  </div>
  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons">
      <li><a href="https://www.berkeley.edu"><i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> Berkeley, Ca.</a></li>
      <li><a href="https://www.berkeley.edu"><i class="fas fa-fw fa-university" aria-hidden="true"></i> UC Berkeley</a></li>
      <li><a href="mailto:danielle.lindsay@berkeley.edu"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> Email</a></li>
      <li><a href="https://scholar.google.com/citations?user=EN9Q7_EAAAAJ&hl=en"><i class="ai ai-google-scholar-square ai-fw" aria-hidden="true"></i> Google Scholar</a></li>
      <li><a href="https://github.com/Dani-Lindsay"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
      <li><a href="https://twitter.com/dlindsay_eq"><i class="fab fa-fw fa-twitter" aria-hidden="true"></i> Twitter</a></li>
    </ul>
  </div>
</div>
