@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* sidebar */
.sidebar {
  text-align: center;
}

.author__avatar {
  display: inline-block;
  margin-bottom: 1em;

  img {
    width: 150px;
    height: 150px;
  }
}

.author__content {
  margin-bottom: 1em;
}

.author__name {
  margin: 0;
  font-size: 1.563em;
}

.author__bio {
  margin: 0;
  font-size: 0.75em;
}

.author__urls-wrapper {
  font-size: 0.6875em;
}

.author__urls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 0.5em;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .label {
    margin-right: 0.5em;
  }
}
